:root {
    --bg: #0f172a;
    --bg-elev: #1e293b;
    --bg-elev-2: #334155;

    --text: #e2e8f0;
    --text-dim: #94a3b8;
    --text-muted: #64748b;

    --primary: #22c55e;
    --primary-modal: #009a38;
    --primary-soft: rgba(34, 197, 94, 0.15);

    --danger: #ef4444;
    --danger-soft: rgba(239, 68, 68, 0.15);

    --border: #334155;

    --radius-lg: 12px;

    --shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

    --font-mono: "JetBrains Mono", monospace;

    --accent: #4cc9ff;
}